argh==0.26.2
beautifulsoup4==4.6.0
bleach==2.1.4
blinker==1.4
bs4==0.0.1
cffi==1.11.5
cmarkgfm==0.4.2
docutils==0.14
feedgenerator==1.9
future==0.16.0
gunicorn==19.9.0
html5lib==1.0.1
Jinja2==2.10
MarkupSafe==1.0
num2words==0.5.6
pathtools==0.1.2
pelican==3.7.1
pycparser==2.18
Pygments==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.13
readme-renderer==21.0
restview==2.9.1
six==1.11.0
Unidecode==1.0.22
Wand==0.4.4
watchdog==0.9.0
webencodings==0.5.1
WebOb==1.8.2
piexif==1.0.13
lxml==4.2.5
