beautifulsoup4==4.6.0
blinker==1.4
bs4==0.0.1
docutils==0.14
feedgenerator==1.9
gunicorn==19.9.0
Jinja2==2.10
MarkupSafe==1.0
num2words==0.5.6
pelican==3.7.1
Pygments==2.2.0
python-dateutil==2.7.2
pytz==2018.4
six==1.11.0
Unidecode==1.0.22
Wand==0.4.4
WebOb==1.8.2
