/* trying to fix a problem with monospace fonts in tables rendering bigger */
body, html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

/* general styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1vw;
    background-color: #FFFFFF;
    font-size: 1em;
}

#content-wrapper {
    margin: 0;
    border-left: 1px #897C81 solid;
    border-right: 1px #897C81 solid;
    padding: 1vw;
}

#banner {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/theme/images/header_4k.jpg");
    position: relative;
    height: 200px;
}

#banner h1 {
    font-size: 24pt;
    margin: 0;
    padding: 0.25em;
    position: absolute;
    bottom: 0em;
    left: 0em;
    right: 0em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#header-home-icon {
   display: none;
}

#menu {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 18pt;
    height: 1.5em;
    line-height: 1.5em;
}

#menu li {
    padding: 0.25em;
    display: inline;
    list-style-type: none;
}

#banner a, #banner a:visited {
    color: white;
}

#settings-button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#settings-button img {
    width: 2em;
    height: 2em;
}

.figure {
    border: 0.5em double #000000;
}

.figure img {
    width: 100%;
}

.figure .caption {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}

.centered {
    text-align: center;
}

.align-center {
    margin: auto;
    display: block;
}

.align-right {
    float: right;
    clear: left;
    margin-left: 1em;
}

.align-middle {
    vertical-align: middle;
}

.note {
    background-color: #CCCCCC;
    color: #666666;
    padding: 0.5em;
    margin: 1em;
}

.warning .admonition-title {
    font-weight: bold;
    font-size: 110%;
}

.warning {
    background-color: #FFCC99;
    color: #7E5321;
    padding: 0.5em;
    margin: 1em;
}

.note .admonition-title {
    font-weight: bold;
    font-size: 110%;
}

.tip .admonition-title {
    font-weight: bold;
    font-size: 110%;
}

.tip {
    background-color: #F2F2B4;
    color: #60603c;
    padding: 0.5em;
    margin: 1em;
}

.admonition-edit {
    font-style: oblique;
    margin-left: 2em;
}

.admonition-title {
    font-size: 110%;
    font-weight: bold;
}

dt {
    font-weight: bold;
}

/* syntax highlighting */
.highlight-wrapper {
    width: 100%;
    overflow: auto;
}

.highlighttable {
    margin-bottom: 1em;
    width: 100%;
    border: 1px #bee0f0 solid;
}

.highlight {
    background-color: white;
    border: 1px #bee0f0 solid;
    padding: 0.25em;
    overflow: auto;
}

.highlighttable .code {
    overflow: auto;
}

.highlighttable pre, .highlight pre {
        margin: 0em;
}

.linenos {
    width: 1ch;
    background-color: white;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/theme/inconsolata.woff") format("woff");
}

pre {
    font-family: Inconsolata, monospace;
    line-height: 125%;
    font-size: 1em;
}

/* custom explanation tag */
.explanation {
    display: block;
    position: relative;
    border: 1px #387164 solid;
    padding: 0.5em;
    background-color: #DBEFEB;
}

/* Initially hide the contents of the explanation */
.explanation *:not(:first-child) {
    display: none;
}

.explanation h1, 
.explanation h2, 
.explanation h3, 
.explanation h4, 
.explanation h5,
.explanation h6,
.explanation h7{
    margin: 0;
    padding: 0;
    color: #316F61;
}

.explanation .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25em;
}

/* Line blocks */
.line-block {
    border-left: 2px double #999999;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 75%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    font-size: 1.2rem;
    font-style: oblique;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: bold;
}

#content-wrapper > h1:first-of-type, 
#content-wrapper > h2:first-of-type, 
#content-wrapper > h3:first-of-type, 
#content-wrapper > h4:first-of-type, 
#content-wrapper > h5:first-of-type, 
#content-wrapper > h6:first-of-type {
    margin-top: 0;
}

#content-wrapper > h1:last-of-type, 
#content-wrapper > h2:last-of-type, 
#content-wrapper > h3:last-of-type, 
#content-wrapper > h4:last-of-type, 
#content-wrapper > h5:last-of-type, 
#content-wrapper > h6:last-of-type{
    margin-bottom: 0;
}

#contentinfo {
    background-color: #B6CE9E;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/theme/images/footer_4k.jpg");
    position: relative;
    height: 150px;
}

#contentinfo #footer-text {
	text-align: center;
	margin: auto;
	top: 50%;
	position: absolute;
	width: 100%;
	height: 50%;
}

#contentinfo #footer-text-wrapper {
    background-color: rgba(256, 256, 256, 0.4);
    margin: auto;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 65%;
    position: absolute;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ol.arabic ol.arabic {
    list-style-type: lower-alpha;
}

/* Make video fit in the screen */

.video-container {
  width: 80%;
  margin: auto;
}

.video-container video {
  width: 100%; 
  height: 100%; 

}

/* settings/config page */
#settings {
    width: 80%;
    margin: auto;
    text-align: center;
}
#settings button {
    cursor: pointer;
    font-size: 105%;
    padding: 1.5em;
    border: 6px double;
    border-radius: 1em;
    width: 30%;
    color: #333333;
}

#settings #clear {
    background-color: #F2F2B4;
}

#settings #clear:active {
    color: #FFFFFF;
    background-color: #333333;
}


#settings #save {
    background-color: #ccffcc;
    border-color: #006600;
}

#settings #save:active {
    color: #FFFFFF;
    background-color: #333333;
}

#settings #save .icon {
    font-size: 150%;
    color: #99ff66;
}

#settings #clear .icon {
    font-size: 150%;
    color: #ff3333
}

.status-draft {
    border: 0.2rem dashed red;
    padding: 1em;
    background-image: url("/theme/images/draft.png");
}

@media screen and (max-width: 1200px) {
  #settings-button img {
      width: 1.5em;
      height: 1.5em;
  }
  
  #banner {
      background-size: cover;
  }
  
  #contentinfo {
      background-size: cover;
      font-size: 8pt;
  }
  
  #banner h1 {
      font-size: 12pt;
  }
  
  #menu {
      font-size: 10pt;
  }
  
  #header-home-icon {
      display: inline;
  }
  
  #header-site-title {
      display: none;
  }
}

@media screen and (max-width: 2000px) {
    #banner {
        background-image: url("/theme/images/header_2k.jpg");
    }
    
    #contentinfo {
        background-image: url("/theme/images/footer_2k.jpg");
    }
}

@media screen and (max-width: 1000px) {
    #banner {
        background-image: url("/theme/images/header_1k.jpg");
        height: 100px;
    }
    
    #banner h1 {
        font-size: 12pt;
    }
    
    #menu {
        font-size: 10pt;
    }
    
    #contentinfo {
        background-image: url("/theme/images/footer_1k.jpg");
    }
}

@media screen and (max-width: 500px) {
    #banner {
        background-image: url("/theme/images/header_500.jpg");
    }
    
    #banner h1 {
        font-size: 12pt;
    }
    
    #menu {
        font-size: 10pt;
    }
    
    #contentinfo {
        background-image: url("/theme/images/footer_500.jpg");
        height: 80px;
    }
}

