/* general styles */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    background-color: #FFFFFF;
}

#content-wrapper {
    margin: 0;
    border-left: 1px #897C81 solid;
    border-right: 1px #897C81 solid;
    padding: 1em;
}

#banner {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/theme/images/header_large.jpg");
    position: relative;
    height: 200px;
}

#banner h1 {
    font-size: 24pt;
    margin: 0;
    padding: 0.25em;
    position: absolute;
    bottom: 0em;
    left: 0em;
    right: 0em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#menu {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 18pt;
    height: 1.5em;
    line-height: 1.5em;
}

#menu li {
    padding: 0.25em;
    display: inline;
    list-style-type: none;
}

#banner a, #banner a:visited {
    color: white;
}

@font-face {
    font-family: Inconsolata;
    src: url("/theme/inconsolata.woff");
}

pre {
    font-family: Inconsolata, monospace;
    line-height: 125%
}

.note {
    background-color: #CCCCCC;
    color: #666666;
    padding: 0.5em;
    margin: 1em;
}

dt {
    font-weight: bold;
}

.note .admonition-title {
    font-weight: bold;
    font-size: 110%;
}

.highlighttable .highlight {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.highlighttable {
    margin-bottom: 1em;
}

.highlight {
    padding: 0.5em;
    display: inline-block;
}

.highlighttable pre, .highlight pre {
        margin: 0em;
}

.explanation {
    display: block;
    position: relative;
    border: 1px #387164 solid;
    padding: 0.5em;
    background-color: #DBEFEB;
}

.explanation div {
    display: none;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: bold;
}

#content-wrapper > h1:first-of-type, 
#content-wrapper > h2:first-of-type, 
#content-wrapper > h3:first-of-type, 
#content-wrapper > h4:first-of-type, 
#content-wrapper > h5:first-of-type, 
#content-wrapper > h6:first-of-type {
    margin-top: 0;
}

#content-wrapper > h1:last-of-type, 
#content-wrapper > h2:last-of-type, 
#content-wrapper > h3:last-of-type, 
#content-wrapper > h4:last-of-type, 
#content-wrapper > h5:last-of-type, 
#content-wrapper > h6:last-of-type{
    margin-bottom: 0;
}

.explanation h1, 
.explanation h2, 
.explanation h3, 
.explanation h4, 
.explanation h5,
.explanation h6,
.explanation h7{
    margin: 0;
    padding: 0;
    color: #316F61;
}

.explanation .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25em;
}

#contentinfo {
    background-color: #B6CE9E;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/theme/images/footer_large.jpg");
    position: relative;
    height: 150px;
}

#contentinfo #footer-text {
	text-align: center;
	margin: auto;
	top: 50%;
	position: absolute;
	width: 100%;
	height: 50%;
}

#contentinfo #footer-text-wrapper {
    background-color: rgba(256, 256, 256, 0.4);
    margin: auto;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    width: 65%;
    height: 65%;
    position: absolute;
}

