{% extends "base.html" %}
{% block title%}
   {{ article.title }} - {{ SITENAME }} 
{% endblock %}
{% block twitter_title %}{{ article.title }} - {{ SITENAME }} {%endblock%}
{% block og_title %}{{ article.title }} - {{ SITENAME }} {%endblock%}
{% block meta_title %}{{ article.title }} - {{ SITENAME }} {%endblock%}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
	{% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
	{% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  {% if article.toc %}
    <div>
        {{article.toc}}
    </div>
  {% endif %}
  {% if article.status == "draft" %}
  <div class="warning">
  <h2>WARNING</h2>
  You are viewing a <strong>draft</strong> document. It may contain inaccurate, misleading, or unvetted information.
  </div>
  {% endif %}
  <div class="entry-content status-{{ article.status }}">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
