{% extends "base.html" %}
{% block title %}Categories - {{ SITENAME }}{% endblock %}
{% block twitter_title %}Categories - {{ SITENAME }}{%endblock%}
{% block og_title %}Categories - {{ SITENAME }}{%endblock%}
{% block meta_title %}Categories - {{ SITENAME }}{%endblock%}
{% block content %}
<h1>Categories</h1>
<br />
{% for category, articles in categories %}
<h2><a href="{{ SITEURL }}/{{ category.url }}">{{ category|title }}</a></h2>
<p>{{ CATEGORY_DESCRIPTIONS[category] }}</p>
    <ul>
      {% for article in articles %}
        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
